<nav>
    <a href="/" class="site-title"><h2>Users API</h2></a>
    <ul>
        <!-- <li><a href="/">Home</a></li> -->
        <% if (user) { %>
            <li><a href="/">Home | Welcome <%= user.email %></a></li>
            <li><a href="/users">Users</a></li>
            <!-- <li><a href="/about">About</a></li> -->
            <li><a href="/api/user/logout">Log Out</a></li>
        <% } else { %>
            <li><a href="/api/user/signup">Sign Up</a></li>
            <li><a href="/api/user/login">Log In</a></li>
        <% } %>
    </ul>
</nav>