
<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum praesentium saepe in quos placeat porro veniam consectetur numquam, commodi itaque impedit inventore repellendus velit assumenda tempora eaque ab adipisci!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum praesentium saepe in quos placeat porro veniam consectetur numquam, commodi itaque impedit inventore repellendus velit assumenda tempora eaque ab adipisci!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsum praesentium saepe in quos placeat porro veniam consectetur numquam, commodi itaque impedit inventore repellendus velit assumenda tempora eaque ab adipisci!</p>
    </div>
<%- include('./partials/footer.ejs') %>